<div class="wrap">
	<h2>{{ strings.heading }}</h2>
	<div class="icl_cyan_box">
		<p class="icl_form_errors" style="padding:6px;">{{ strings.warning }}</p>
		<form id="wpml_cloudinary_options_form">
			<input type="hidden" name="security" value="{{ ajax_nonce }}">
			<input type="hidden" id="wpml_cloudinary_options_action">
			<div style="margin-bottom:6px;">
				<input name="fix_missing_file_paths" type="submit" class="button-secondary" value="{{ file_paths.button }}"><br>
				<small>{{ file_paths.description|raw }}</small><br>
				<img class="progress" src="{{ spinner }}" width="16" height="16" alt="loading" style="display: none;"/>&nbsp;<span class="status"></span>
			</div>
			<div style="margin-bottom:6px;">
				<input name="fix_missing_cloudinary_meta" type="submit" class="button-secondary" value="{{ cloudinary_meta.button }}"><br>
				<small>{{ cloudinary_meta.description|raw }}</small><br>
				<img class="progress" src="{{ spinner }}" width="16" height="16" alt="loading" style="display: none;"/>&nbsp;<span class="status"></span>
			</div>
		</form>
		<div id="wpml_cloudinary_all_done" class="hidden updated">
			<p>{{ strings.finished }}</p>
		</div>
	</div>
</div>